.cover__subtitle {
  margin: 32 0 0 0;
  padding: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  font-weight: normal;
  color: #fff;
  z-index: 2;
} 

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}