.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  color: #fff;
  font-size: 96px;
  font-weight: bold;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 670px){
  .lead__title {
    max-width: 500px;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 425px){
  .lead__title {
    max-width: 288px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;
  }
}